<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="APIAutoMation.FailingTests"/>
      <class name="APIAutoMation.RecordCountTest"/>
      <class name="APIAutoMation.GetAllDataTest"/>
      <class name="APIAutoMation.GetConditionaldataTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
